<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAC-GO</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="./css/materialize.min.css" rel="stylesheet" />
    <link href="./css/app.css" rel="stylesheet" />

    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/app.js"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue">
          <span class="brand-logo center">VAC-Go!</span>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#login-modal" class="modal-trigger">Login</a></li>
            <li><a href="#signup-modal" class="modal-trigger">Signup</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="vac-go-body">
      <blockquote class="blue-text">Today</blockquote>
      <div class="vac-go-posts">
        <ul class="collapsible popout" data-collapsible="accordion">
          {{#each posts}}
            {{#if this.date}}
              <li class="post">
                <div class="collapsible-header">
                  <i class="material-icons tooltipped" data-position="left" data-tooltip="{{this.quarter}}">{{this.quarterIcon}}</i>
                  {{#each this.courses}}
                    {{#if this.courseName}}
                      <span class="new badge course" data-badge-caption="{{this.courseName}}"></span>
                    {{else}}
                      <span class="new badge activity light-blue" data-badge-caption="{{this.activityName}} ({{this.activityTime}})"></span>
                    {{/if}}
                  {{/each}}
                </div>
                <div class="collapsible-body">
                  <p><span class="vac-go-post-author">{{this.author}} - </span>{{this.body}}</p>
                </div>
              </li>
            {{else}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
      <blockquote class="blue-text">Past</blockquote>
      <div class="vac-go-posts">
        <ul class="collapsible popout" data-collapsible="accordion">
          {{#each posts}}
            {{#if this.date}}
            {{else}}
              <li class="post">
                <div class="collapsible-header">
                  <i class="material-icons tooltipped" data-position="left" data-tooltip="{{this.quarter}}">{{this.quarterIcon}}</i>
                  {{#each this.courses}}
                    {{#if this.courseName}}
                      <span class="new badge course" data-badge-caption="{{this.courseName}}"></span>
                    {{else}}
                      <span class="new badge activity light-blue" data-badge-caption="{{this.activityName}} ({{this.activityTime}})"></span>
                    {{/if}}
                  {{/each}}
                </div>
                <div class="collapsible-body">
                  <p><span class="vac-go-post-author">{{this.author}} - </span>{{this.body}}</p>
                </div>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>

      <div id="login-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Login</h4>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text">
                <label for="username">Username</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password">
                <label for="password">Password</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="./signed-in" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
      </div>

      <div id="signup-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Signup</h4>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" />
                <label for="email" data-error="Bad email format!" data-success="Looks good!">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text" class="validate" />
                <label for="username" data-success="Looks good!">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">lock_open</i>
                <input id="password" type="password" class="validate" pattern=".{5,10}" />
                <label for="password" data-error="Password not of correct length!" data-success="Looks good!">Password</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">lock_outline</i>
                <input id="confPassword" type="password" class="validate" />
                <label for="confPassword" data-error="Passwords don't match!" data-success="Looks good!">Confirm Password</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="./signed-in" class="modal-action modal-close waves-effect waves-green btn-flat">Signup</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
      </div>

      <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </body>
</html>
